{
    box-sizing: border-box
;
}

.wishlistBar {
    float: left;
    width: 25%;
}

.main {
    float: left;
    width: 75%;
}

.button {
    background-color: #bfc8d7;
    border: none;
    color: white;
    height: 40px;
    width: 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


.searchbtn {
    background-color: #a2b59f;
    border: none;
    color: white;
    height: 40px;
    width: 80px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover {
    background-color: #e2d2d2; /* Green */
    color: white;
}

.loginbtn {
    background-color: #EEB8B8;
    border: none;
    color: white;
    width: 100px;
    height: 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    opacity: 0.9;
}

.loginbtn:hover {
    opacity:1;
}

.signupbtn {
    background-color: #a2b59f;
    border: none;
    color: white;
    width: 100px;
    height: 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    opacity: 0.9;
}

.signupbtn:hover {
    opacity:1;
}

.wishlistbtn {
    background-color: #a2b59f;
    border: none;
    color: white;
    width: 80px;
    height: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    opacity: 0.9;
}

.wishlistbtn:hover {
    opacity:1;
}

.deletebtn{
    background-color: #D18063;
    border: none;
    color: white;
    width: 100px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    opacity: 0.9;
}

.deletebtn:hover {
    opacity:1;
}

.signupbtn:hover {
    opacity:1;
}

input[type=text]{
    padding: 15px;
    margin: 5px 0 22px 0;
    width: 400px;
    height: 20px;
    display: inline-block;
    border: none;
    background: #edeef0;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

body {
    background-color: white;
    text-align: center;
    color: #909FA6;
    font-family: Calibri Light;
}